
.external_div{
	margin: 3%;
	background-color: indianred;
	padding: 1%;
	border-radius: 10px;
	box-shadow: 1px px 5px 1px rgba(0, 0, 0, 0.5);
};


.selectors_div p {
	background-color: green;
};
